<% layout("/layouts/boilerplate") -%>

<div class="row">
    <div class="col-8 offset-2">

    
    <h3>Create a new listings</h3>

    <form method="post" action="/listings" class="needs-validation" novalidate>

       
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add title" type="text" class="form-control" required>
            <div class="valid-feedback">
                Okay!
            </div>
            <div class="invalid-feedback">
                Enter valid title.
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"  type="text" class="form-control" required></textarea>
            <div class="valid-feedback">
                Okay!
            </div>
            <div class="invalid-feedback">
                Enter short description.
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" placeholder="Enter image URL/link" type="text" class="form-control">
            <div class="valid-feedback">
                Okay!
            </div>
        </div>

        <div class="row">

            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="1200"  class="form-control" required>
                <div class="valid-feedback">
                    Okay!
                </div>
                <div class="invalid-feedback">
                    Enter valid title.
                </div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="United States" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Okay!
                </div>
                <div class="invalid-feedback">
                    Enter valid country.
                </div>
            </div>

        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[location]" placeholder="Euless, Texas" type="text" class="form-control" required>
            <div class="valid-feedback">
                Okay!
            </div>
            <div class="invalid-feedback">
                Enter valid location.
            </div>
        </div>

        <button class="btn btn-dark add mt-3">Add</button>
    </form>

</div>
</div>
    
